html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body.mobile-menu {
  max-height: 100vh;
  overflow: hidden;
}

.header {
  list-style: none;
}
@media screen and (max-width: 768px) {
  .header_conteiner {
    background-image: url(../../images/mobile/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 480px) {
  .header_conteiner {
    background-image: url(../../images/mobile/background.jpg);
    background-size: cover;
    margin: 0px;
  }
}

.navigation {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 30px;
  margin: 0px;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrap_icon {
  padding-left: 30px;
  padding-right: 20px;
}
.wrap_subtitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.699);
  padding: 0px;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 30px;
}
.heading_title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin: 0;
  padding-top: 20px;
}
.heading_desc {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: rgba(157, 164, 189, 0.986);
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 189px;
  padding-right: 100px;
}

.section_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 84px;
  padding-top: 84px;
}

.wrap-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrap-about_icon {
  padding-left: 30px;
}
.wrap-about_title {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-left: 20px;
  color: #303030;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
}
.box_title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #303030;
  margin: 0px;
}
.box_subtitle {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  color: #555555;
  padding-top: 20px;
  margin: 0px;
}
.box_desc {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  color: #555555;
  margin: 0;
  padding-top: 20px;
}
.box_btn {
  width: 180px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  padding: 12px 20px;
  border-radius: 25px;
  background-color: white;
  border: #ff6c00 1px solid;
  margin-top: 40px;
}

.section {
  margin-top: 84px;
  margin-bottom: 84px;
}
.section_price {
  background-color: #111319;
  background-image: url(../../images/Price/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
@media screen and (max-width: 480px) {
  .section {
    background-attachment: fixed;
    margin: 0px;
  }
}
.section .wrap-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 84px;
}
.section .wrap-price_icon {
  padding-left: 30px;
}
.section .wrap-price_title {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.699);
  padding-left: 20px;
}

.box-price_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.box-price_items {
  background-image: url(../../images/Price/secondbackground.png);
  background-position: center;
  background-size: cover;
  margin-left: 15px;
  margin-right: 15px;
}
@media screen and (max-width: 480px) {
  .box-price_items {
    padding-left: 30px;
  }
}
.box-price_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.box-price_button {
  width: 180px;
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  padding: 12px 20px;
  border-radius: 25px;
  background-color: transparent;
  border: #ff6c00 1px solid;
  margin-top: 40px;
  color: white;
  margin-top: 50px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  margin-bottom: 84px;
}

.section_statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 84px;
  padding-bottom: 84px;
}

.wrap-statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrap-statistic_icon {
  padding-left: 30px;
}
.wrap-statistic_title {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  color: #303030;
}

.box-statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
}
.box-statistic_title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #303030;
  margin: 0px;
}
.box-statistic_desc {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  color: #555555;
  margin: 0px;
  padding-bottom: 44px;
  padding-top: 20px;
}
.box-statistic_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.box-statistic_list:not(:last-child) {
  margin-right: 30px;
}
.box-statistic_list-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 79px;
}

.content-statistic {
  height: 133px;
  background-color: #f7f7f7;
}
.content-statistic_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}
.content-statistic_title {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.05em;
  margin: 0px;
}
.content-statistic_icon {
  width: 10px;
  height: 10px;
}
.content-statistic_desc {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3;
  text-align: center;
  padding: 6px;
  margin: 0px;
}

.content-statistic:not(:last-child) {
  margin-bottom: 30px;
}

.page-statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 30px;
}

.section_master {
  background-color: #f7f7f7;
  padding-top: 84px;
  padding-bottom: 84px;
}

.master-title {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.3;
  letter-spacing: 0.05em;
  margin: 0px;
  padding-left: 30px;
}

.master-box_block {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 44px;
  text-align: center;
}
.master-box_icon {
  display: block;
  width: 100%;
  height: auto;
}
.master-box_name {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  padding-top: 20px;
  margin: 0px;
}
.master-box_job {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
  padding-top: 8px;
  margin: 0px;
}
.master-box_social {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
  height: 44px;
  margin: 0px;
  padding-top: 30px;
}
.master-box_social-link {
  width: 44px;
  height: 44px;
}
.master-box_social-link:not(:last-child) {
  margin-right: 10px;
  margin-bottom: 44px;
}
.master-box_social-icon:hover {
  fill: #ff6c00;
  cursor: pointer;
}
.master-box_social-icon:focus {
  fill: #ff6c00;
}

.gallery {
  list-style: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 44px;
  padding-bottom: 84px;
  margin: 0px;
  text-align: center;
}
.gallery_img {
  margin-bottom: 30px;
  display: block;
  width: 100%;
  height: auto;
}

.section-form {
  background-color: #191c26;
  height: 557px;
}
.section-form_title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 0.8;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin: 0px;
  padding-top: 84px;
  padding-bottom: 44px;
  text-align: center;
}
.section-form_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
}
.section-form_name {
  background-color: transparent;
  border: none;
  margin-bottom: 44px;
  border-bottom: #9da4bd solid 1px;
  color: #ffffff;
  padding-left: 10px;
  padding-top: 10px;
}
.section-form_tel {
  background-color: transparent;
  border: none;
  margin-bottom: 44px;
  border-bottom: #9da4bd solid 1px;
  color: #ffffff;
  padding-left: 10px;
  padding-top: 10px;
}
.section-form_message {
  height: 76px;
  background-color: transparent;
  border: none;
  border-bottom: #9da4bd solid 1px;
  color: #ffffff;
  padding-left: 10px;
  padding-top: 10px;
  resize: none;
}
.section-form_btn {
  width: 180px;
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  padding: 12px 20px;
  border-radius: 25px;
  background-color: transparent;
  border: #ff6c00 1px solid;
  margin-top: 40px;
  color: white;
  margin-top: 50px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  margin-bottom: 84px;
}

.footer {
  background-color: #111319;
  background-image: url(../../images/footer/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 496px;
}
.footer_title {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 42px;
  line-height: 0.8;
  text-align: center;
  letter-spacing: 0.05em;
  padding-top: 84px;
  color: #ffffff;
  margin: 0px;
}
.footer_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  list-style: none;
  margin: 0px;
}
.footer_icon {
  height: 24px;
  width: 24px;
  padding-top: 8px;
}
.footer_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer_map, .footer_tel, .footer_mail {
  text-decoration: none;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.02em;
  color: #9da4bd;
  padding-left: 16px;
}

.form-box_time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
  padding-top: 40px;
}

.info {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-left: 20px;
  color: #ffffff;
}

.time {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  padding-left: 30px;
  padding-top: 20px;
  color: rgba(157, 164, 189, 0.986);
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 30px;
  padding-top: 44px;
}
.footer-social_link {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  padding-left: 40px;
}

.footer-date_copy {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  padding-left: 30px;
  color: rgba(157, 164, 189, 0.986);
}

.menu-conteiner {
  position: fixed;
  top: 0;
  left: 20%;
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 0;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  .menu-conteiner {
    display: none;
  }
}
.menu-conteiner.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  outline: none;
  border: none;
}

.js-open-menu {
  outline: none;
  border: none;
  background-color: transparent;
}/*# sourceMappingURL=main.css.map */