.section-form {
  background-color: $backgroundform;
  height: 557px;
  width: 480px;
  &_title {
    font-family: $font-family-Ralwey;
    font-weight: 700;
    font-size: 42px;
    line-height: 0.8;
    text-align: center;
    letter-spacing: 0.05em;
    color: $titlecolor;
    margin: 0px;
    padding-top: 84px;
    padding-bottom: 44px;
    text-align: center;
  }
  &_block {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
  }
  &_name {
    background-color: transparent;
    border: none;
    margin-bottom: 44px;
    border-bottom: $pricetext solid 1px;
    color: $titlecolor;
    padding-left: 10px;
    padding-top: 10px;
  }
  &_tel {
    background-color: transparent;
    border: none;
    margin-bottom: 44px;
    border-bottom: $pricetext solid 1px;
    color: $titlecolor;
    padding-left: 10px;
    padding-top: 10px;
  }
  &_message {
    height: 76px;
    background-color: transparent;
    border: none;
    border-bottom: $pricetext solid 1px;
    color: $titlecolor;
    padding-left: 10px;
    padding-top: 10px;
    resize: none;
  }
  &_btn {
    width: 180px;
    font-family: $font-family-Open;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    padding: 12px 20px;
    border-radius: 25px;
    background-color: transparent;
    border: $btn-border 1px solid;
    margin-top: 40px;
    color: $btn-background;
    margin-top: 50px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 84px;
  }
}
