.header {
  list-style: none;
  display: flex;
  flex-direction: row;
  @media screen and (min-width: 481px) {
    margin-bottom: 84px;
  }

  &_conteiner {
    @media screen and (min-width: 481px) {
      background-image: url(../../images/tablet/header-tablet.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    
    }
    @media screen and (max-width: 480px) {
      background-image: url(../../images/mobile/background.jpg);
      background-size: cover;
      margin: 0px;
    }
  }
  &_bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    @media screen and (max-width: 480px){
      display: none;
    }
  }
  
  
  &_nav-tablet{
    display:flex;
    align-items: flex-start;

    @media screen and (max-width: 480px){
      display: none;
    }
  }
  
  &_btn{
    color: $titlecolor;
    font-family: $font-family-Open;
    width: 160px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    padding: 12px 20px;
    border-radius: 25px;
    background-color: transparent;
    border: $btn-border 1px solid;
    margin-top: 40px;
    color: $btn-background;
    margin: 0px;
  

  }
  &_phone{
color: $titlecolor;
font-family: $font-family-Open;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.2;
text-align: center;
padding-top: 20px;
text-decoration: none;

  }
  &_contact{
    display:flex;
    flex-direction: column;

  }
  &_nav-list{
    display: flex;
    list-style: none;
    cursor: pointer;
    padding: 0px;
    padding-right: 40px;
  }
  &_list{
  color: $titlecolor;
  font-family: $font-family-Open;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: .02em;
  margin: 0px;
  padding-left: 20px;
  }
  &_list:hover{
    color: $hover;
  }
  &_list:focus{
    color: $hover;
  }
  &_navigation{
    padding-top: 40px;
  }
}

// Navigation

.navigation {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media screen and (max-width: 480px){
  padding: 40px 30px;
  margin: 0px;
  }
  &_logo{
    @media screen and (min-width: 480px){
      display: none;
    }
  }
  &_icon{
    cursor: pointer;
  }
  
  &_social-link{
    display: flex;
    flex-direction: column;
    padding-top: 282px;
  }
  &_social:not(:last-child) {
    padding-bottom: 40px;
  }
  &_rectangle{
    padding-top: 40px;
  }
}

.wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  &_icon {
    padding-left: 30px;
    padding-right: 20px;
  }
  &_subtitle {
    font-family: $font-family-Open;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.3;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $subtitlecolor;
    padding: 0px;
  }
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 30px;

  &_title {
    font-family: $font-family-Ralwey;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    color: $titlecolor;
    margin: 0;
    padding-top: 20px;
  }
  &_desc {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $desc-color;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 189px;
    padding-right: 100px;
    // @media screen and (max-width: 480px) {
    //   width: 306px;
    // }
  }
}
.button-header{
  @media screen and (min-width: 480px){
    display: none;
  }
}
