$font-family-Open: "Open Sans";
$font-family-Ralwey: "Raleway";
$titlecolor: #ffffff;
$subtitlecolor: rgba(157, 164, 189, 0.699);
$desc-color: rgba(157, 164, 189, 0.986);
$secondsubtitle: #303030;
$secondtitle: #303030;
$second-desc-color: #555555;
$btn-background: white;
$btn-border: #ff6c00;
$picebackground: #111319;
$pricetext: #9da4bd;
$boxstatistic: #f7f7f7;
$backgroundmaster: #f7f7f7;
$mastertitle: #303030;
$masterdesk: #ff6c00;
$backgroundform: #191c26;
